@font-face {
  font-family: "iconfont"; /* Project id 1932616 */
  src: url('iconfont.woff2?t=1669283894002') format('woff2'),
       url('iconfont.woff?t=1669283894002') format('woff'),
       url('iconfont.ttf?t=1669283894002') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconxiangshangzhanhang:before {
  content: "\e64c";
}

.iconxiangxiazhanhang:before {
  content: "\e64d";
}

.iconline-calendar:before {
  content: "\e65c";
}

.iconline-contacts:before {
  content: "\e660";
}

.iconline-time:before {
  content: "\e671";
}

.iconline-news:before {
  content: "\e66a";
}

.iconline-user:before {
  content: "\e67a";
}

.iconfanhui:before {
  content: "\e60b";
}

.icondiyiye:before {
  content: "\e778";
}

.iconyoujiantou:before {
  content: "\e782";
}

.iconzuojiantou:before {
  content: "\e783";
}

.iconzuihouyiye:before {
  content: "\e784";
}

.iconfangdajing:before {
  content: "\e601";
}

.iconyun:before {
  content: "\e615";
}

